trigger:
  branches:
    include:
      - QA   # Trigger on dev push

pool:
  name: selfhosted-172   # Your self-hosted Linux agent pool

steps:
  # Checkout with credentials so push works
  - checkout: self
    persistCredentials: true

  # Merge dev into master
  - task: Bash@3
    displayName: Merge dev into master
    inputs:
      targetType: inline
      script: |
        set -e

        echo "Fetching latest branches"
        git fetch origin

        echo "Checkout master"
        git checkout master
        git pull origin master

        echo "Merge dev into master"
        git merge origin/dev --no-ff --allow-unrelated-histories


        echo "Push to master"
        git push origin master